.test{
    background-image: url(../images/new\ \(2\).jpg);
    background-size: cover;
    height: 600px;
    font-size: 60px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: rgb(245, 245, 245);
    background-color: burlywood;
}
.shatha {
    background-color: rgb(70, 44, 24);
    padding: 5px 20px ;
    border-radius: 10px;
}

